<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ContextMap</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ContextMap</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-08a91e4bf449431180b1470c2f4d156c.png" alt="ContextMap" usemap="#id-08a91e4bf449431180b1470c2f4d156cmap"/>
			   <map name="id-08a91e4bf449431180b1470c2f4d156cmap">
				  		<area shape="rect" coords="10,10,143,107" href="../elements/id-8e51916a0e994cd0955e9e95794611c7.html"  target="element">
				  		        <area shape="rect" coords="454,514,1043,647" href="../objects/id-42bc421e2f734173828c2a950e4209a5.html" target="element" >
				  		        <area shape="rect" coords="910,472,925,491" href="../objects/id-9faaf60610e54c0e90d0b0bcc76be2fb.html" target="element" >
				  		        <area shape="rect" coords="622,472,637,491" href="../objects/id-4508e1b4c93144508883958e748ae1e7.html" target="element" >
				  		        <area shape="rect" coords="452,472,483,503" href="../objects/id-de87da4e42db40e682b4d237c17244f1.html" target="element" >
				  		        <area shape="rect" coords="492,472,633,503" href="../objects/id-4f23e4e9f43b4f2d80ec5599fc3ef7f0.html" target="element" >

				          <area shape="rect" coords="442,442,1055,659" href="../objects/id-de9d18c916f84b339a5fe76f4e372e6d.html" target="element" >
				  		<area shape="rect" coords="682,10,815,107" href="../elements/id-13fb315c596f43f4923f5ba90fc904ba.html"  target="element">
				  		<area shape="rect" coords="682,226,815,323" href="../elements/id-00d9b45e565b47768d65b80f422b3535.html"  target="element">
				  		<area shape="rect" coords="334,238,467,323" href="../elements/id-247069695a6d404383c412de06c52eff.html"  target="element">
				  		<area shape="rect" coords="322,10,455,107" href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
											    <td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element"> Grade BC </a> </td>
											    <td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00d9b45e565b47768d65b80f422b3535.html" target="element"> Voting BC </a> </td>
											    <td> <a href="../elements/id-00d9b45e565b47768d65b80f422b3535.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13fb315c596f43f4923f5ba90fc904ba.html" target="element"> Project Management BC </a> </td>
											    <td> <a href="../elements/id-13fb315c596f43f4923f5ba90fc904ba.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-de9d18c916f84b339a5fe76f4e372e6d.html" target="element"> LEGEND </a> </td>
									           <td> <a href="../objects/id-de9d18c916f84b339a5fe76f4e372e6d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-4f23e4e9f43b4f2d80ec5599fc3ef7f0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4f23e4e9f43b4f2d80ec5599fc3ef7f0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-de87da4e42db40e682b4d237c17244f1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-de87da4e42db40e682b4d237c17244f1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4508e1b4c93144508883958e748ae1e7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4508e1b4c93144508883958e748ae1e7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9faaf60610e54c0e90d0b0bcc76be2fb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9faaf60610e54c0e90d0b0bcc76be2fb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-42bc421e2f734173828c2a950e4209a5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-42bc421e2f734173828c2a950e4209a5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-8e51916a0e994cd0955e9e95794611c7.html" target="element"> Telegram BC </a> </td>
											    <td> <a href="../elements/id-8e51916a0e994cd0955e9e95794611c7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-96b88973335841ceb1611611d534ac0a.html" target="element"> Published Language </a> </td>
																		<td> <a href="../elements/id-96b88973335841ceb1611611d534ac0a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
																		<td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element"> Grade BC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b4686b89f884c5b92d754e78436e0e9.html" target="element"> Published Language </a> </td>
																		<td> <a href="../elements/id-2b4686b89f884c5b92d754e78436e0e9.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
																		<td> <a href="../elements/id-00d9b45e565b47768d65b80f422b3535.html" target="element"> Voting BC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31fda74dc312494688254cb19056e465.html" target="element"> Published Language </a> </td>
																		<td> <a href="../elements/id-31fda74dc312494688254cb19056e465.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
																		<td> <a href="../elements/id-13fb315c596f43f4923f5ba90fc904ba.html" target="element"> Project Management BC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8caec5979fed45ff8a37575a46cc556f.html" target="element"> Conformist </a> </td>
																		<td> <a href="../elements/id-8caec5979fed45ff8a37575a46cc556f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element"> Grade BC </a> </td>
																		<td> <a href="../elements/id-00d9b45e565b47768d65b80f422b3535.html" target="element"> Voting BC </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-79ce80585ca84376bc11ca74671045ec.html" target="element"> Anti-Corruption Layer </a> </td>
																		<td> <a href="../elements/id-79ce80585ca84376bc11ca74671045ec.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e51916a0e994cd0955e9e95794611c7.html" target="element"> Telegram BC </a> </td>
																		<td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>