<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>DomainModel</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>DomainModel</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-411b42443319404f8fd8d2309ed18db6.png" alt="DomainModel" usemap="#id-411b42443319404f8fd8d2309ed18db6map"/>
			   <map name="id-411b42443319404f8fd8d2309ed18db6map">
				  		<area shape="rect" coords="826,34,980,115" href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html"  target="element">
				  		<area shape="rect" coords="802,406,956,487" href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html"  target="element">
				  		        <area shape="rect" coords="598,838,995,875" href="../objects/id-8b3ef885a5b84ae59d2c68348fa3692b.html" target="element" >
				  		        <area shape="rect" coords="562,838,593,869" href="../objects/id-95301bb1318a445dbd9b6df8ba1945e6.html" target="element" >
				  		        <area shape="rect" coords="562,796,593,827" href="../objects/id-2c79c92e1d484932836ba2fc1cdd84c0.html" target="element" >
				  		        <area shape="rect" coords="598,796,995,827" href="../objects/id-533d870f4f224949b9a742b8639538a1.html" target="element" >

				          <area shape="rect" coords="550,766,995,899" href="../objects/id-677f6abc91da48f58e7e535dd05a6703.html" target="element" >
				  				<area shape="rect" coords="246,634,377,719" href="../elements/id-5afa83a6b1224b11b8326774aa3a0aae.html"  target="element">
				  				<area shape="rect" coords="49,58,203,139" href="../elements/id-1b53c233b85849959568ba226c94a61a.html"  target="element">
				  				<area shape="rect" coords="454,466,659,563" href="../elements/id-1bc391fe295c408c8c5198f9651db67b.html"  target="element">
				  				<area shape="rect" coords="347,238,467,347" href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html"  target="element">
				  				<area shape="rect" coords="239,466,384,575" href="../elements/id-1d3984af17e94272b19494a9ce0234d4.html"  target="element">
				  				<area shape="rect" coords="59,238,179,341" href="../elements/id-0790a4a21074415ca69df4c7aeae2651.html"  target="element">

				  		<area shape="rect" coords="10,10,695,743" href="../elements/id-247069695a6d404383c412de06c52eff.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element"> Grade BC </a> </td>
											    <td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0790a4a21074415ca69df4c7aeae2651.html" target="element"> Artifact </a> </td>
													    <td> <a href="../elements/id-0790a4a21074415ca69df4c7aeae2651.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d3984af17e94272b19494a9ce0234d4.html" target="element"> Endorsement </a> </td>
													    <td> <a href="../elements/id-1d3984af17e94272b19494a9ce0234d4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html" target="element"> Specialist </a> </td>
													    <td> <a href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1bc391fe295c408c8c5198f9651db67b.html" target="element"> Assignment </a> </td>
													    <td> <a href="../elements/id-1bc391fe295c408c8c5198f9651db67b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1b53c233b85849959568ba226c94a61a.html" target="element"> Competence </a> </td>
													    <td> <a href="../elements/id-1b53c233b85849959568ba226c94a61a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5afa83a6b1224b11b8326774aa3a0aae.html" target="element"> Endorser </a> </td>
													    <td> <a href="../elements/id-5afa83a6b1224b11b8326774aa3a0aae.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-677f6abc91da48f58e7e535dd05a6703.html" target="element"> LEGEND </a> </td>
									           <td> <a href="../objects/id-677f6abc91da48f58e7e535dd05a6703.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-533d870f4f224949b9a742b8639538a1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-533d870f4f224949b9a742b8639538a1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2c79c92e1d484932836ba2fc1cdd84c0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2c79c92e1d484932836ba2fc1cdd84c0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-95301bb1318a445dbd9b6df8ba1945e6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-95301bb1318a445dbd9b6df8ba1945e6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8b3ef885a5b84ae59d2c68348fa3692b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8b3ef885a5b84ae59d2c68348fa3692b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element"> Member </a> </td>
											    <td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
											    <td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b0f0acb74a424d96aeb599108cad04ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0f0acb74a424d96aeb599108cad04ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element"> Grade BC </a> </td>
																		<td> <a href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html" target="element"> Specialist </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5009b86536f04307b0128ae0722398a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5009b86536f04307b0128ae0722398a0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element"> Grade BC </a> </td>
																		<td> <a href="../elements/id-1d3984af17e94272b19494a9ce0234d4.html" target="element"> Endorsement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-296f074908f94f508ba54a1856ca5842.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-296f074908f94f508ba54a1856ca5842.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element"> Grade BC </a> </td>
																		<td> <a href="../elements/id-0790a4a21074415ca69df4c7aeae2651.html" target="element"> Artifact </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a2452b6a4d446148bc12ff6c31dacdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a2452b6a4d446148bc12ff6c31dacdd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element"> Grade BC </a> </td>
																		<td> <a href="../elements/id-1bc391fe295c408c8c5198f9651db67b.html" target="element"> Assignment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b773831fd958403fb5a814277011c3f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b773831fd958403fb5a814277011c3f4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element"> Grade BC </a> </td>
																		<td> <a href="../elements/id-1b53c233b85849959568ba226c94a61a.html" target="element"> Competence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cdffd765e07044bc9b24526d3b72a272.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdffd765e07044bc9b24526d3b72a272.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-247069695a6d404383c412de06c52eff.html" target="element"> Grade BC </a> </td>
																		<td> <a href="../elements/id-5afa83a6b1224b11b8326774aa3a0aae.html" target="element"> Endorser </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2317ad582322407aa80f0e3c00649874.html" target="element"> authors (has many) </a> </td>
																				<td> <a href="../elements/id-2317ad582322407aa80f0e3c00649874.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0790a4a21074415ca69df4c7aeae2651.html" target="element"> Artifact </a> </td>
																				<td> <a href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html" target="element"> Specialist </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e2a8d49a5e5547a9ab4f90121c010df3.html" target="element"> creartedBy (has one) </a> </td>
																				<td> <a href="../elements/id-e2a8d49a5e5547a9ab4f90121c010df3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0790a4a21074415ca69df4c7aeae2651.html" target="element"> Artifact </a> </td>
																				<td> <a href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html" target="element"> Specialist </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-eb08cb75968340b8af62120b42877abb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eb08cb75968340b8af62120b42877abb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0790a4a21074415ca69df4c7aeae2651.html" target="element"> Artifact </a> </td>
																				<td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1fef80a29502415ea7b0327d5103876e.html" target="element"> has one </a> </td>
																				<td> <a href="../elements/id-1fef80a29502415ea7b0327d5103876e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d3984af17e94272b19494a9ce0234d4.html" target="element"> Endorsement </a> </td>
																				<td> <a href="../elements/id-0790a4a21074415ca69df4c7aeae2651.html" target="element"> Artifact </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5e82a96795db4cb199458f9bb6b1df2e.html" target="element"> endorser (has one) </a> </td>
																				<td> <a href="../elements/id-5e82a96795db4cb199458f9bb6b1df2e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d3984af17e94272b19494a9ce0234d4.html" target="element"> Endorsement </a> </td>
																				<td> <a href="../elements/id-5afa83a6b1224b11b8326774aa3a0aae.html" target="element"> Endorser </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-86248989899f4c8599e52661b301b918.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-86248989899f4c8599e52661b301b918.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d3984af17e94272b19494a9ce0234d4.html" target="element"> Endorsement </a> </td>
																				<td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e989b1a26b5048a6b788ed9c166c5f6e.html" target="element"> has many </a> </td>
																				<td> <a href="../elements/id-e989b1a26b5048a6b788ed9c166c5f6e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html" target="element"> Specialist </a> </td>
																				<td> <a href="../elements/id-1bc391fe295c408c8c5198f9651db67b.html" target="element"> Assignment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1b789e08aae84e47a29ed8155f2c423a.html" target="element"> received_endorsements (has many) </a> </td>
																				<td> <a href="../elements/id-1b789e08aae84e47a29ed8155f2c423a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html" target="element"> Specialist </a> </td>
																				<td> <a href="../elements/id-1d3984af17e94272b19494a9ce0234d4.html" target="element"> Endorsement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-474ff8c7a3a5464dab989bf5f5c942a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-474ff8c7a3a5464dab989bf5f5c942a2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html" target="element"> Specialist </a> </td>
																				<td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element"> Member </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2ba0be8e2c38469aa26c86256e85d6b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ba0be8e2c38469aa26c86256e85d6b9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html" target="element"> Specialist </a> </td>
																				<td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6a40c4cac2044470afd8c053ebb29112.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6a40c4cac2044470afd8c053ebb29112.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1bc391fe295c408c8c5198f9651db67b.html" target="element"> Assignment </a> </td>
																				<td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-84a4d17b740e4569becf723b35eca34b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-84a4d17b740e4569becf723b35eca34b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b53c233b85849959568ba226c94a61a.html" target="element"> Competence </a> </td>
																				<td> <a href="../elements/id-0790a4a21074415ca69df4c7aeae2651.html" target="element"> Artifact </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3e65e37bc8724c1b866e9d2b9f7f7ab6.html" target="element"> owner (has one) </a> </td>
																				<td> <a href="../elements/id-3e65e37bc8724c1b866e9d2b9f7f7ab6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b53c233b85849959568ba226c94a61a.html" target="element"> Competence </a> </td>
																				<td> <a href="../elements/id-b36c601e26f64b3e994c7d611a28d2f8.html" target="element"> Specialist </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-33cd094f4a924302b58b8306a2e4d3f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33cd094f4a924302b58b8306a2e4d3f6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b53c233b85849959568ba226c94a61a.html" target="element"> Competence </a> </td>
																				<td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e6c4538dbb43463783378b1a67a13f0a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e6c4538dbb43463783378b1a67a13f0a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5afa83a6b1224b11b8326774aa3a0aae.html" target="element"> Endorser </a> </td>
																				<td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element"> Member </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fb98e91e5a254b08a7323e3a5bb9e32e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fb98e91e5a254b08a7323e3a5bb9e32e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5afa83a6b1224b11b8326774aa3a0aae.html" target="element"> Endorser </a> </td>
																				<td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>