<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>DomainModel</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>DomainModel</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-eb4c489f5f2d43bf9222fcd2f71ddd91.png" alt="DomainModel" usemap="#id-eb4c489f5f2d43bf9222fcd2f71ddd91map"/>
			   <map name="id-eb4c489f5f2d43bf9222fcd2f71ddd91map">
				  		        <area shape="rect" coords="430,646,827,683" href="../objects/id-f7f568853057440b842b727948a4fb8c.html" target="element" >
				  		        <area shape="rect" coords="394,646,425,677" href="../objects/id-612370e7f4a94a989b73ce36689e96a0.html" target="element" >
				  		        <area shape="rect" coords="394,604,425,635" href="../objects/id-248fc8c9a49b449fbce93fa401346bfb.html" target="element" >
				  		        <area shape="rect" coords="430,604,827,635" href="../objects/id-eceab846bac3435aa69b722812ab97f3.html" target="element" >

				          <area shape="rect" coords="382,574,827,707" href="../objects/id-efb8e75b2f12456c9e81c9fda1a9668c.html" target="element" >
				  				<area shape="rect" coords="298,58,452,131" href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html"  target="element">
				  				<area shape="rect" coords="298,214,452,295" href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html"  target="element">
				  				<area shape="rect" coords="298,346,452,427" href="../elements/id-3b0895cb0beb482e9a31e2ad09133ce6.html"  target="element">
				  				<area shape="rect" coords="550,214,704,295" href="../elements/id-d8895648013449b897b95a215d3cc6ad.html"  target="element">
				  				<area shape="rect" coords="46,214,200,295" href="../elements/id-0375f230e2974234bd4d563e2dec5aea.html"  target="element">

				  		<area shape="rect" coords="10,10,743,551" href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
											    <td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0375f230e2974234bd4d563e2dec5aea.html" target="element"> User </a> </td>
													    <td> <a href="../elements/id-0375f230e2974234bd4d563e2dec5aea.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d8895648013449b897b95a215d3cc6ad.html" target="element"> Group </a> </td>
													    <td> <a href="../elements/id-d8895648013449b897b95a215d3cc6ad.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3b0895cb0beb482e9a31e2ad09133ce6.html" target="element"> Role </a> </td>
													    <td> <a href="../elements/id-3b0895cb0beb482e9a31e2ad09133ce6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element"> Member </a> </td>
													    <td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
													    <td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-efb8e75b2f12456c9e81c9fda1a9668c.html" target="element"> LEGEND </a> </td>
									           <td> <a href="../objects/id-efb8e75b2f12456c9e81c9fda1a9668c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-eceab846bac3435aa69b722812ab97f3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-eceab846bac3435aa69b722812ab97f3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-248fc8c9a49b449fbce93fa401346bfb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-248fc8c9a49b449fbce93fa401346bfb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-612370e7f4a94a989b73ce36689e96a0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-612370e7f4a94a989b73ce36689e96a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f7f568853057440b842b727948a4fb8c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f7f568853057440b842b727948a4fb8c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e1270dd27ab74b0db8bdb271beb28c86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1270dd27ab74b0db8bdb271beb28c86.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
																		<td> <a href="../elements/id-0375f230e2974234bd4d563e2dec5aea.html" target="element"> User </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54765c561ac5462abe5864df1d4986aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54765c561ac5462abe5864df1d4986aa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
																		<td> <a href="../elements/id-d8895648013449b897b95a215d3cc6ad.html" target="element"> Group </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71c1a154c8d042adbd062c475a2f7367.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71c1a154c8d042adbd062c475a2f7367.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
																		<td> <a href="../elements/id-3b0895cb0beb482e9a31e2ad09133ce6.html" target="element"> Role </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c8c2258e521449884ae672e0a3ae81c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c8c2258e521449884ae672e0a3ae81c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
																		<td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element"> Member </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb2cc852b0e54fe3b0f4a351ce69def1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb2cc852b0e54fe3b0f4a351ce69def1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5ed378587ee4b2ab8bcce74498c1a12.html" target="element"> Identity BC </a> </td>
																		<td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-56780f72e9ec4922b0a9e7e5ba8b79bf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-56780f72e9ec4922b0a9e7e5ba8b79bf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b0895cb0beb482e9a31e2ad09133ce6.html" target="element"> Role </a> </td>
																				<td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8fd65ae44f924a45b4dc95a33b853677.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8fd65ae44f924a45b4dc95a33b853677.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element"> Member </a> </td>
																				<td> <a href="../elements/id-3b0895cb0beb482e9a31e2ad09133ce6.html" target="element"> Role </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c26e7ed2aa784ad4a95e1136a4ff9470.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c26e7ed2aa784ad4a95e1136a4ff9470.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element"> Member </a> </td>
																				<td> <a href="../elements/id-0375f230e2974234bd4d563e2dec5aea.html" target="element"> User </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a6e362cffa014831acba7b50886a6154.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a6e362cffa014831acba7b50886a6154.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element"> Member </a> </td>
																				<td> <a href="../elements/id-d8895648013449b897b95a215d3cc6ad.html" target="element"> Group </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a822c6062b4042f0a10ec6891cfaf822.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a822c6062b4042f0a10ec6891cfaf822.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f1c4411de75d4ff398afcf8b0eca8ca6.html" target="element"> Member </a> </td>
																				<td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-632ef520064f4dea94a1b1f65b2c00de.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-632ef520064f4dea94a1b1f65b2c00de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c523556b4d2b4ffdbeeb5c9862b6d7ab.html" target="element"> Tenant </a> </td>
																				<td> <a href="../elements/id-d8895648013449b897b95a215d3cc6ad.html" target="element"> Group </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>